*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    background-color: #444;
}

.header {
    background-color: #b7363e;
    padding: 0.5em 1em;
    color: #fff;
    overflow: hidden;
}

.text-left {
    text-align: left;
}

.right {
    float: right;
}

.left {
    float: left;
}

.logo {
    padding: 0.5em;
    font-size: 1.3em;
    font-weight: 700;
}

ul.menu {
    overflow: hidden;
    list-style: none;
}

ul.menu li {
    float: left;
    padding: 0 1em;
}

ul.menu li a {
    color: #fff;
    display: block;
    text-decoration: none;
}

ul.menu li a:hover {
    text-decoration: underline;
}

.text-center {
    text-align: center;
}

.text-white {
    color: #fff;
}

.login {
    background-color: #b7363e;
    padding: 1em;
    width: 300px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -75px;
}

form .control {
    margin-bottom: 1em;
}

form .control {
    padding: 0.5em;

}

.paper {
    background-color: #b7363e;
    padding: 1em;
    color: #fff;
    margin-bottom: 1em;
}

.leaf {
    background-color: #2bb72e;
    padding: 1em;
    color: #fff;
    font-size: 1.4em;
    margin-bottom: 1em;
}

.wall {
    background-color: #ffffff;
    padding: 1em;
    color: #888;
    font-size: 1.5em;
    margin-bottom: 1em;
    border-radius: 0.5em;
}

.grid {
    overflow: hidden;
}

.grid > div {
    float: left;
    padding: 1em;
}

.grid > .c-3 {
    width: 25%
}

.grid > .c-6 {
    width: 50%
}

.bubble-me, .bubble-you, .bubble-them {
    position: relative;
}

.bubble-me:before, .bubble-you:before {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    border: 8px solid;
}

/*.bubble-them:before {
    content: " ";
    position: absolute;
    width: 1em;
    height: 1em;
    bottom: -0.25em;
    left: -0.25em;
    border-radius: 0.5em;
    background-color: #444;
}

.bubble-them:after {
    content: " ";
    position: absolute;
    width: 1em;
    height: 1em;
    top: -0.25em;
    right: -0.25em;
    border-radius: 0.5em;
    background-color: #444;
}*/


.bubble-me:before {
    left: -16px;
    bottom: 0;
    border-color: transparent #b7363e #b7363e transparent;
}

.bubble-you:before {
    right: -16px;
    top: 0;
    border-color: #2bb72e transparent transparent #2bb72e;
}

.clearfix {
    overflow: hidden;
}

.p-t-5  { padding-top: 0.5em; }
.p-t-10 { padding-top: 1.0em; }
.p-t-15 { padding-top: 1.5em; }
.p-t-20 { padding-top: 2.0em; }
.p-t-25 { padding-top: 2.5em; }
.p-t-30 { padding-top: 3.0em; }

.p-l-5  { padding-left: 0.5em; }
.p-l-10 { padding-left: 1.0em; }
.p-l-15 { padding-left: 1.5em; }
.p-l-20 { padding-left: 2.0em; }
.p-l-25 { padding-left: 2.5em; }
.p-l-30 { padding-left: 3.0em; }

.p-b-5  { padding-bottom: 0.5em; }
.p-b-10 { padding-bottom: 1.0em; }
.p-b-15 { padding-bottom: 1.5em; }
.p-b-20 { padding-bottom: 2.0em; }
.p-b-25 { padding-bottom: 2.5em; }
.p-b-30 { padding-bottom: 3.0em; }

.p-r-5  { padding-right: 0.5em; }
.p-r-10 { padding-right: 1.0em; }
.p-r-15 { padding-right: 1.5em; }
.p-r-20 { padding-right: 2.0em; }
.p-r-25 { padding-right: 2.5em; }
.p-r-30 { padding-right: 3.0em; }

.m-t-5  { margin-top: 0.5em; }
.m-t-10 { margin-top: 1.0em; }
.m-t-15 { margin-top: 1.5em; }
.m-t-20 { margin-top: 2.0em; }
.m-t-25 { margin-top: 2.5em; }
.m-t-30 { margin-top: 3.0em; }

.m-l-5  { margin-left: 0.5em; }
.m-l-10 { margin-left: 1.0em; }
.m-l-15 { margin-left: 1.5em; }
.m-l-20 { margin-left: 2.0em; }
.m-l-25 { margin-left: 2.5em; }
.m-l-30 { margin-left: 3.0em; }

.m-b-5  {margin-bottom: 0.5em; }
.m-b-10 {margin-bottom: 1.0em; }
.m-b-15 {margin-bottom: 1.5em; }
.m-b-20 {margin-bottom: 2.0em; }
.m-b-25 {margin-bottom: 2.5em; }
.m-b-30 {margin-bottom: 3.0em; }

.m-r-5  { margin-right: 0.5em; }
.m-r-10 { margin-right: 1.0em; }
.m-r-15 { margin-right: 1.5em; }
.m-r-20 { margin-right: 2.0em; }
.m-r-25 { margin-right: 2.5em; }
.m-r-30 { margin-right: 3.0em; }