*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  background-color: #444;
  color: #777432;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logo {
  font-weight: 600;
  color: #2570bb;
  font-size: 1.2em;
}

.clearfix {
  overflow: hidden;
}

.left {
  float: left;
}

.right {
  float: right;
}