.dropdown {

  cursor: pointer;
  position: relative;

  .dropdown-list {
    display: none;
  }

  .dropdown-caret {
    display: inline-block;
    border: 4px solid transparent;
    border-top-color: #000;
  }

  &:hover {
    .dropdown-list {
      position: absolute;
      display: block;
      top: 0;
      left: 0
    }
  }

}