.grid {

  overflow: hidden;


  .col-1, .col-2, .col-3,
  .col-4, .col-5, .col-6,
  .col-7, .col-8, .col-9,
  .col-10, .col-11, .col-12 {
    float: left;
  }

  .col-1  { width:   8.3333334%; }
  .col-2  { width:  16.0000000%; }
  .col-3  { width:  25.0000000%; }
  .col-4  { width:  33.3333333%; }
  .col-5  { width:  41.6666667%; }
  .col-6  { width:  50.0000000%; }
  .col-7  { width:  58.3333333%; }
  .col-8  { width:  66.6666666%; }
  .col-9  { width:  75.0000000%; }
  .col-10 { width:  83.3333333%; }
  .col-11 { width:  91.6666667%; }
  .col-12 { width: 100.0000000%; }


  .col-push-1  { margin-left:   8.3333334%; }
  .col-push-2  { margin-left:  16.0000000%; }
  .col-push-3  { margin-left:  25.0000000%; }
  .col-push-4  { margin-left:  33.3333333%; }
  .col-push-5  { margin-left:  41.6666667%; }
  .col-push-6  { margin-left:  50.0000000%; }
  .col-push-7  { margin-left:  58.3333333%; }
  .col-push-8  { margin-left:  66.6666666%; }
  .col-push-9  { margin-left:  75.0000000%; }
  .col-push-10 { margin-left:  83.3333333%; }
  .col-push-11 { margin-left:  91.6666667%; }
  .col-push-12 { margin-left: 100.0000000%; }

}