.p-t-5  { padding-top: 0.5em; }
.p-t-10 { padding-top: 1.0em; }
.p-t-15 { padding-top: 1.5em; }
.p-t-20 { padding-top: 2.0em; }
.p-t-25 { padding-top: 2.5em; }
.p-t-30 { padding-top: 3.0em; }

.p-l-5  { padding-left: 0.5em; }
.p-l-10 { padding-left: 1.0em; }
.p-l-15 { padding-left: 1.5em; }
.p-l-20 { padding-left: 2.0em; }
.p-l-25 { padding-left: 2.5em; }
.p-l-30 { padding-left: 3.0em; }

.p-b-5  { padding-bottom: 0.5em; }
.p-b-10 { padding-bottom: 1.0em; }
.p-b-15 { padding-bottom: 1.5em; }
.p-b-20 { padding-bottom: 2.0em; }
.p-b-25 { padding-bottom: 2.5em; }
.p-b-30 { padding-bottom: 3.0em; }

.p-r-5  { padding-right: 0.5em; }
.p-r-10 { padding-right: 1.0em; }
.p-r-15 { padding-right: 1.5em; }
.p-r-20 { padding-right: 2.0em; }
.p-r-25 { padding-right: 2.5em; }
.p-r-30 { padding-right: 3.0em; }

.m-t-5  { margin-top: 0.5em; }
.m-t-10 { margin-top: 1.0em; }
.m-t-15 { margin-top: 1.5em; }
.m-t-20 { margin-top: 2.0em; }
.m-t-25 { margin-top: 2.5em; }
.m-t-30 { margin-top: 3.0em; }

.m-l-5  { margin-left: 0.5em; }
.m-l-10 { margin-left: 1.0em; }
.m-l-15 { margin-left: 1.5em; }
.m-l-20 { margin-left: 2.0em; }
.m-l-25 { margin-left: 2.5em; }
.m-l-30 { margin-left: 3.0em; }

.m-b-5  {margin-bottom: 0.5em; }
.m-b-10 {margin-bottom: 1.0em; }
.m-b-15 {margin-bottom: 1.5em; }
.m-b-20 {margin-bottom: 2.0em; }
.m-b-25 {margin-bottom: 2.5em; }
.m-b-30 {margin-bottom: 3.0em; }

.m-r-5  { margin-right: 0.5em; }
.m-r-10 { margin-right: 1.0em; }
.m-r-15 { margin-right: 1.5em; }
.m-r-20 { margin-right: 2.0em; }
.m-r-25 { margin-right: 2.5em; }
.m-r-30 { margin-right: 3.0em; }

